
@{
    ViewBag.Title = "CannotDelete";
}

<h2>CannotDelete</h2>

<script language='javascript' type='text/javascript'>alert('Item is Beeing used, cannot delete');</script>
<div class="form-actions no-color">
    
    @Html.ActionLink("Back to List", "Index")

</div>